body,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway", sans-serif;
}
h1,
th {
	font-family: "Helvetica Neue", sans-serif;
}

.outside-sidebar {
	padding-left: 320px;
}

.sidenav {
	margin-top: 65px;
}

input.tweet-filter {
	width: 85% !important;
}
button.tweet-filter {
	width: 95% !important;
}

.grid-sizer,
.grid-item {
	width: 49%;
}

.gutter-sizer {
	width: 2%;
}

.card {
	border-radius: 10px !important;
	height: auto !important;
	padding-bottom: 80px !important;
}
.card-action {
	border-radius: 0 0 10px 10px !important;
}

.tweet-stats {
	text-overflow: ellipsis;
	margin-bottom: 0;
}
.card-content {
	overflow: auto !important;
}

.inline-icon {
	display: inline-flex;
	vertical-align: middle;
}

.more-info {
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 20px;
	border-style: solid;
	border-width: thin;
	border-radius: 10px;
	border-color: #9e9e9e;
}

#change-query-btn {
	margin-right: 40px;
}

.retweet {
	margin-top: 15px;
	padding: 15px;
	border-style: solid;
	border-width: thin;
	border-radius: 30px;
	border-color: #9e9e9e;
}

.pagination {
	text-align: center;
	margin-top: 1em;
}

.pagination-number {
	padding: 0.5em 0.8em;
	border-radius: 2px;
	color: #fff;
	background-color: #009688;
}

.pagination-number:hover,
.pagination-current {
	background-color: #00796b;
}

.pagination-action {
	margin: 0 0.1em;
	display: inline-block;
	padding: 0.5em 0.5em;
	color: #b9b9b9;
	font-size: 1.3em;
}

.pagination-action:hover,
.pagination-previous,
.pagination-next {
	color: #3354aa;
}

img {
	height: 10%;
	width: 10%;
}

.modal {
	border-radius: 10px;
}

.modal.bottom-sheet {
	max-height: 100% !important;
	overflow-y: visible;
}

.toast {
	background-color: #ffffff;
	color: #000000;
}
