{% extends 'base.html' %}
{% block content %}
{% load static from staticfiles %}

<title>SCOTUS Tweet Database</title>


<body class="w3-light-grey w3-content" style="max-width:1600px">
    <!-- !PAGE CONTENT! -->
    <div class="w3-main">
        <!-- NAVBAR -->
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper w3-container grey darken-3 white-text">
                    <a class="brand-logo"><i class="fa fa-twitter"></i> SCOTUS Tweet Database</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>
                            <a href="/scotustwitter/download" class="waves-effect waves-light btn modal-trigger">
                                Download Data<i class="material-icons">file_download</i>\
                            </a>
                        </li>
                        <li>
                            <a href="?refresh=true" class="waves-effect waves-light btn">
                                REFRESH<i class="material-icons">refresh</i>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">LOGOUT</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- SIDENAV SEARCH -->
        <ul id="slide-out" class="sidenav sidenav-fixed">
            <form action="" method="GET">{% csrf_token %}
                <!--SEARCH -->
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li class="active">
                            <a class="collapsible-header">Search</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li class="center">
                                        <input id="keywords" type="text" class="tweet-filter validate" name="keywords"
                                            {% if request.GET.page == None %} value="{{ request.GET.keywords }}"
                                            {% elif dbSearchDict.keywords != None %} value="{{ dbSearchDict.keywords }}"
                                            {% endif %} placeholder="Keywords">
                                    </li>

                                    <li class="center">
                                        <p class="row">
                                            <label class="col s6 center-align"><input value="OR" class="with-gap"
                                                    name="ANDOR" type="radio"
                                                    {% if request.GET.ANDOR == "OR" or request.GET.ANDOR == None %}
                                                    checked {% endif %} /><span>OR</span>
                                            </label>
                                            <label class="col s6 center-align"><input value="AND" class="with-gap"
                                                    name="ANDOR" type="radio" {% if request.GET.ANDOR == "AND" %}
                                                    checked {% endif %} /><span>AND</span>
                                            </label>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- FILTERS -->
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li class="active">
                            <a class="collapsible-header">Filters</a>
                            <div class="collapsible-body">
                                <ul>

                                    <li class="center">
                                        <input type="text" class="tweet-filter datepicker" name="from"
                                            {% if request.GET.page == None %}value="{{ request.GET.from }}"
                                            {% elif dbSearchDict.from != None %}value="{{ dbSearchDict.from }}"
                                            {% endif %} placeholder="From Date">
                                    </li>
                                    <li class="center">
                                        <input type="text" class="tweet-filter datepicker" name="to"
                                            {% if request.GET.page == None %}value="{{ request.GET.to }}"
                                            {% elif dbSearchDict.to != None %}value="{{ dbSearchDict.to }}" {% endif %}
                                            placeholder="To Date">
                                    </li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="center">
                    <button class="btn waves-effect waves-light tweet-filter" type="submit" name="action">Search
                        <i class="material-icons left">search</i>
                    </button>
                </li>
            </form>

        </ul>
        <div class="w3-section w3-padding-10"></div>

        <div class="outside-sidebar w3-container">
            <!--!DISPLAY TWEETS!-->
            <div class="grid">
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>
                {% for tweet in tweets %}
                <!-- !TWEET MODAL! -->
                <div id="{{tweet.id}}" class="modal">
                    <div class="modal-content">
                        <div class="row truncate">
                            <h5>
                                <a class="inline-icon left screenname" style="padding-right: 20px"
                                    href="http://www.twitter.com/{{ tweet.originalUser.username }}">@{{tweet.originalUser.username}}
                                    {%if tweet.originalUser.isVerified %}<i
                                        class="material-icons">check_circle</i>{% endif %}
                                </a>
                                <span class="inline-icon grey-text left">
                                    {% if tweet.originalUser.location %}
                                    <i class="material-icons">location_on</i>
                                    {{tweet.originalUser.location}}
                                    {% else %}
                                    <i class="material-icons">location_off</i>
                                    {% endif %}
                                </span>
                            </h5>
                        </div>
                        <p>{{tweet.originalText|urlize}}</p>
                        <div class="row">
                            <h5><b>Bot rating:</b><span id="bot-score"> 0.005</span></h5>
                        </div>
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th>Stat</th>
                                    <th>Value</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>Gunning Fog</td>
                                    <td>0.18</td>
                                </tr>
                                <tr>
                                    <td>Positive Sentiment</td>
                                    <td>5.34</td>
                                </tr>
                                <tr>
                                    <td>Flesch Kincaid Grade</td>
                                    <td>10.5</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <!-- !TWEET TILE! -->
                <div class="grid-item">
                    <div class="card small hoverable">
                        <div class="card-content">
                            <div class="card-title">
                                <div class="row truncate">
                                    <a class="inline-icon left screenname" style="padding-right: 20px"
                                        href="http://www.twitter.com/{{ tweet.originalUser.username }}">@{{tweet.originalUser.username}}
                                        {%if tweet.originalUser.isVerified %}<i
                                            class="material-icons">check_circle</i>{% endif %}
                                    </a>
                                    <span class="inline-icon grey-text left">
                                        {% if tweet.originalUser.location %}
                                        <i class="material-icons">location_on</i>
                                        {{tweet.originalUser.location}}
                                        {% else %}
                                        <i class="material-icons">location_off</i>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                            <!-- <span class="grey-text text-darken-4"> -->
                            <p>{{tweet.originalText|urlize}}</p>
                            <!-- </span> -->
                        </div>
                        <div class="card-action tweet-stats row valign-wrapper">
                            <div class="col s2">
                                <span class="grey-text text-darken-4"><i
                                        class="material-icons">favorite</i>{{tweet.numFavoritesOriginal}}</span>
                            </div>
                            <div class="col s2">
                                <span class="grey-text text-darken-4"><i
                                        class="material-icons">loop</i>{{tweet.numRetweetsOriginal}}</span>
                            </div>
                            <div class="col s2">
                                <a data-role="none" href="#{{tweet.id}}" class="modal-trigger tweet-link">
                                    <span class="grey-text text-darken-4"><i class="material-icons">launch</i></span>
                                </a>
                            </div>

                            <div class="col s6">
                                Created: {{tweet.createdAt}}
                                <br>
                                Updated: {{tweet.lastUpdated }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

{% if user.is_superuser %}
<!-- change twitter search button-->
<div class="row">
    <a id="change-query-btn" class="btn-floating btn-large waves-effect waves-light red modal-trigger right"
        href="#change-query-modal"><i class="material-icons">build</i></a>
</div>
{% endif %}

<!-- pagination -->
<div class="pagination row container outside-sidebar">

    {% if tweets.has_previous %}
    <a class="pagination-action" href="?page=1">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
    </a>
    <a class="pagination-action" href="?page={{ tweets.previous_page_number }}">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
    </a>
    {% endif %}

    {% for num in tweets.paginator.page_range %}

    {% if tweets.number == num %}
    <span class="pagination-number pagination-current">{{ num }}</span>
    {% elif num > tweets.number|add:'-10' and num < tweets.number|add:'10' %}
    <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
    {% endif %}

    {% endfor %}

    {% if tweets.has_next %}
    <a class="pagination-action" href="?page={{ tweets.next_page_number }}">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
    </a>
    <a class="pagination-action" href="?page={{ tweets.paginator.num_pages }}">
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </a>
    {% endif %}

</div>

<!-- change twitter search query modal -->
<div id="change-query-modal" class="modal bottom-sheet">
    <div class="modal-content">
        <h4 class="center">Search Twitter By</h4>
        <div class="row">
            <form class="col s12" action="" method="GET">{% csrf_token %}
                <div class="row">
                    <div class="input-field col s6">
                        <textarea id="pull-users" name="pull-users"
                            class="materialize-textarea">{{ twitterSearchDict.usersString }}</textarea>
                        <label for="pull-users">Users</label>
                    </div>
                    <div class="input-field col s6">
                        <textarea id="pull-not-users" name="pull-not-users"
                            class="materialize-textarea">{{ twitterSearchDict.notUsersString }}</textarea>
                        <label for="pull-not-users">Unwanted Users</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <textarea id="pull-hashtags" name="pull-hashtags"
                            class="materialize-textarea">{{ twitterSearchDict.hashtagsString }}</textarea>
                        <label for="pull-hashtags">Hashtags</label>
                    </div>
                    <div class="input-field col s6">
                        <textarea id="pull-keywords" name="pull-keywords"
                            class="materialize-textarea">{{ twitterSearchDict.keywordsString }}</textarea>
                        <label for="pull-keywords">Keywords</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select name="pull-since">
                            <option {% if twitterSearchDict.fromDateVal == 0 %} selected="selected" {% endif %}
                                value="0">Today</option>
                            <option {% if twitterSearchDict.fromDateVal == 1 %} selected="selected" {% endif %}
                                value="1">One Day Ago</option>
                            <option {% if twitterSearchDict.fromDateVal == 2 %} selected="selected" {% endif %}
                                value="2">Two Days Ago</option>
                            <option {% if twitterSearchDict.fromDateVal == 3 %} selected="selected" {% endif %}
                                value="3">Three Days Ago</option>
                            <option {% if twitterSearchDict.fromDateVal == 4 %} selected="selected" {% endif %}
                                value="4">Four Days Ago</option>
                            <option {% if twitterSearchDict.fromDateVal == 5 %} selected="selected" {% endif %}
                                value="5">Five Days Ago</option>
                            <option {% if twitterSearchDict.fromDateVal == 6 %} selected="selected" {% endif %}
                                value="6">Six Days Ago</option>
                            <option {% if twitterSearchDict.fromDateVal == 7 %} selected="selected" {% endif %}
                                value="7">Seven Days Ago</option>
                        </select>
                        <label>From (Inclusive)</label>
                    </div>
                    <div class="input-field col s6">
                        <select name="pull-until">
                            <option {% if twitterSearchDict.toDateVal == 0 %} selected="selected" {% endif %} value="0">
                                Today</option>
                            <option {% if twitterSearchDict.toDateVal == -1 %} selected="selected" {% endif %}
                                value="-1">Tomorrow</option>
                            <option {% if twitterSearchDict.toDateVal == 1 %} selected="selected" {% endif %} value="1">
                                One Day Ago</option>
                            <option {% if twitterSearchDict.toDateVal == 2 %} selected="selected" {% endif %} value="2">
                                Two Days Ago</option>
                            <option {% if twitterSearchDict.toDateVal == 3 %} selected="selected" {% endif %} value="3">
                                Three Days Ago</option>
                            <option {% if twitterSearchDict.toDateVal == 4 %} selected="selected" {% endif %} value="4">
                                Four Days Ago</option>
                            <option {% if twitterSearchDict.toDateVal == 5 %} selected="selected" {% endif %} value="5">
                                Five Days Ago</option>
                            <option {% if twitterSearchDict.toDateVal == 6 %} selected="selected" {% endif %} value="6">
                                Six Days Ago</option>
                            <option {% if twitterSearchDict.toDateVal == 7 %} selected="selected" {% endif %} value="7">
                                Seven Days Ago</option>

                        </select>
                        <label>To (Exclusive)</label>
                    </div>
                </div>
                <button class="waves-effect waves-light btn right" type="submit" name="change"><i
                        class="material-icons">done</i></button>
                {% if pulling %}
                <a class="left waves-effect waves-light" href="/scotustwitter/stop"><i class="material-icons"
                        style="color:red;">stop</i></a>
                <p>Stop Pulling</p>
                {% else %}
                <a class="left waves-effect waves-light" href="/scotustwitter/start"><i class="material-icons"
                        style="color:green;">play_arrow</i></a>
                <p>Start Pulling</p>
                {% endif %}
            </form>
        </div>
    </div>
</div>

<!-- error modal -->
<div id="error-modal" class="modal">
    <div class="modal-content">
        <h4 id=error-title class="center red-text"></h4>
        <div class="row">
            <p id="error-message" class="center red-text"></p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.modal').modal();
        $('.collapsible').collapsible();
        $('select').formSelect();
        $('.datepicker').datepicker({
            container: $("body")
        });
        $('#change-query-modal')
            .modal({
                dismissible: true,

            });
        $('.grid').masonry({
            columnWidth: '.grid-sizer',
            gutter: '.gutter-sizer',
            itemSelector: '.grid-item',
            percentPosition: true
        });

        if ("{{warning}}" != "None") {
            $('#change-query-modal').modal('open');
            $('#error-modal').modal('open');
            $('#error-title').html("WARNING");
            $('#error-message').html("{{warning}}");
        }
        if ("{{error}}" != "None") {
            $('#change-query-modal').modal({
                dismissible: false
            });
            $('#change-query-modal').modal('open');
            $('#error-modal').modal('open');
            $('#error-title').html("ERROR");
            $('#error-message').html("{{error}}");
        }
    });
</script>



{% endblock %}